@using Microsoft.AspNetCore.Mvc.TagHelpers
@model EmailSender.ViewModel.MessageViewModel

@{
  ViewData["Title"] = "Write a Letter to the Future";
}
<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <title>FutureMe: Write a Letter to your Future Self</title>

  
  <meta name="google-site-verification" content="tenCW2HZOXKeU658QPSFuM9-DT29EQVpy5gqnpEV1po">
<meta name="msvalidate.01" content="A554AA615711265D27F5254BDC3EF96E">
<meta name="facebook-domain-verification" content="z0cxtb8ihxny55fvn1qacn1y474o2d">


  <meta name="application-name" content="FutureMe">
<link rel="shortcut icon" href="/favicon.ico">

  <meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="FutureMe">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="icon" type="image/png" sizes="192x192" href="/apple-touch-icon.png">
<link rel="apple-touch-icon" type="image/png" sizes="192x192" href="/apple-touch-icon.png">
<link href="/splashscreens/iphone5_splash.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
<link href="/splashscreens/iphone6_splash.png" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
<link href="/splashscreens/iphoneplus_splash.png" media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image">
<link href="/splashscreens/iphonex_splash.png" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image">
<link href="/splashscreens/iphonexr_splash.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-s/tartup-image">
<link href="/splashscreens/iphonexsmax_splash.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image">
<link href="/splashscreens/ipad_splash.png" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
<link href="/splashscreens/ipadpro1_splash.png" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
<link href="/splashscreens/ipadpro3_splash.png" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
<link href="/splashscreens/ipadpro2_splash.png" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">

  <meta name="mobile-web-app-capable" content="yes">
<meta name="theme-color" content="#8FC3DE">

  <meta name="msapplication-navbutton-color" content="#8FC3DE">
<meta name="msapplication-starturl" content="/?utm_source=pwa">
<meta http-equiv="x-ua-compatible" content="ie=edge">

  <meta name="apple-itunes-app" content="app-id=1607047236">
<link rel="manifest" href="/manifest-app-banner.json">


    <meta name="author" content="Memories Group Limited">
<meta name="description" content="Write a letter to the future: set goals for yourself, make a prediction about the world. Envision the future, and then make it happen. FutureMe has been delivering letters to the future for millions of people since 2002.">
<meta name="keywords" content="futureme time capsule personal letters future predictions public anonymous future self">

    <meta property="og:type" content="website">
<meta property="og:site_name" content="FutureMe">
<meta property="og:url" content="https://www.futureme.org">
<meta property="og:title" content="FutureMe: Write a Letter to your Future Self">
<meta property="og:description" content="Write a letter to the future and read the public (but anonymous) letters from others. FutureMe has been delivering letters to the future for millions of people since 2002.">
<meta property="og:image" content="http://www.futureme.org/images/og1.png">

    <meta name="twitter:card" content="summary">
<meta name="twitter:url" content="https://www.futureme.org">
<meta name="twitter:title" content="FutureMe: Write a Letter to your Future Self">
<meta name="twitter:description" content="Write a letter to the future and read the public (but anonymous) letters from others. FutureMe has been delivering letters to the future for millions of people since 2002.">
<meta name="twitter:image" content="http://www.futureme.org/images/og1.png">


  <link rel="stylesheet" href="https://use.typekit.net/xdl5nju.css">
<!-- Font Awesome 6 -->
<link rel="stylesheet" media="screen" href="https://prod-assets.futureme.org/assets/fa-e9e3fa1683c02349761afca73317fefa8b0360b3a97dcbc9480dc851744a3a95.css" />
  <link rel="stylesheet" media="screen" href="https://prod-assets.futureme.org/assets/application-c91653beda49ea6491f023baa1cc45b6f1fb106209d87ac09c97a3e33b11e7ea.css" />
  





  <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="L-gQjWxHF73ds_uiUr_Xf9vLt5jr_4D33h-EoSnSkg2CmYCsuFXA2IRE6LlsJJxLg_mijhmJRdNG3viadmNT3w" />
</head>


  <body class="bg-white" data-controller="tealium-events">
      <script type="text/javascript">
      var utag_data = {};
  </script>

  


    

<nav class="fm-navbar is-primary" data-controller="burger-menu">
  <div class="fm-navbar-brand">
    <a class="fm-navbar-logo" href="/">
      <span class="fm-logo">
          <img src="https://prod-assets.futureme.org/assets/logo/logo-reverse@1x-056e77a61325f5f09d494ef19e0f2aab3ab1a50253c361e57169e3bd923053ed.svg" />
      </span>
    </a>
  </div>

  <div class="fm-navbar-start">
      <ul class="fm-navbar-links">
        <li>
          <a href="/letters/new">
            <span class="fm-icon">
              <i class="fa-solid fa-pencil fa-xs"></i>
            </span>
            <span>Write a Letter to the Future</span>
</a>        </li>

        <li>
          <a rel="ugc" href="/letters/public">
            <span class="fm-icon">
              <i class="fa-solid fa-book-open-reader fa-xs"></i>
            </span>
            <span>Read Public Letters</span>
</a>        </li>

      </ul>
  </div>


 

  <div id="nav-menu" class="fm-navbar-menu" data-burger-menu-target="menu">
    <div class="fm-navbar-end">
        <div class="fm-navbar-pros is-hidden-navbar-mobile">
            <img class="is-initials" src="https://prod-assets.futureme.org/assets/logo/fm-initials-light-b0bb1ec7827a6f4cc7d799c1aa9813b7b8e43a7c3b81e69467bf7abb9e599863.svg" />
          <span class="is-for">for</span>
          <a class="is-business svg-business" href="/business">
            <svg width="49" height="14" viewBox="0 0 49 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_1510_60202)">
<path d="M48.0783 0.186157H46.1929V13.9195H48.0783V0.186157Z" fill="#FF5D36"/>
<path d="M0.831543 3.80762V11.7521H1.79529V11.1803C2.21856 11.6143 2.83333 11.8792 3.45883 11.8792C5.07942 11.8792 6.12818 10.5128 6.12818 9.115C6.12818 7.55705 5.00514 6.32842 3.47941 6.32842C2.84407 6.32842 2.1765 6.61477 1.79529 7.16511V3.80762H0.831543ZM1.79529 8.22462C2.06017 7.5678 2.78053 7.2188 3.35234 7.2188C4.45391 7.2188 5.14295 8.10828 5.14295 9.09352C5.14295 10.0045 4.5604 10.9897 3.33176 10.9897C2.78053 10.9897 2.15592 10.7034 1.79619 10.1843V8.22462H1.79529ZM11.1385 11.7521H12.1022V6.45549H11.1385V9.97227C10.7573 10.5656 10.1747 10.9897 9.55995 10.9897C9.09373 10.9897 8.80827 10.8197 8.63825 10.5656C8.38411 10.1843 8.36263 9.62327 8.36263 9.10426V6.45549H7.39888V9.20985C7.39888 10.0152 7.51521 10.7248 7.87583 11.2116C8.18277 11.6251 8.67047 11.8792 9.41141 11.8792C10.1523 11.8792 10.7465 11.5087 11.1385 10.8841V11.7521ZM17.0436 6.91097C16.6195 6.52977 16.0163 6.32842 15.4123 6.32842C14.5327 6.32842 13.7067 6.8367 13.7067 7.90694C13.7067 8.85996 14.5219 9.1678 15.2217 9.44341C15.7514 9.6546 16.2382 9.8452 16.2382 10.2586C16.2382 10.8099 15.8042 11.0747 15.2852 11.0747C14.8611 11.0747 14.4799 10.8841 14.13 10.5128L13.4526 11.0533C13.866 11.5937 14.5541 11.8792 15.2745 11.8792C16.2705 11.8792 17.1922 11.4031 17.1922 10.2166C17.1922 9.29486 16.334 8.90292 15.645 8.63804C15.1367 8.4367 14.6284 8.23536 14.6284 7.83267C14.6284 7.42999 14.9353 7.13379 15.423 7.13379C15.7828 7.13379 16.2275 7.31366 16.4718 7.52574L17.0436 6.91097ZM19.6297 11.7521V6.45549H18.666V11.7521H19.6297ZM19.6297 5.41746V4.33737H18.666V5.41746H19.6297ZM21.4078 6.45549V11.7521H22.3716V8.23536C22.7528 7.64207 23.3353 7.2188 23.9501 7.2188C24.4163 7.2188 24.7018 7.38793 24.8718 7.64207C25.1259 8.02328 25.1465 8.58524 25.1465 9.10426V11.7521H26.1112V8.99777C26.1112 8.1933 25.9948 7.48368 25.6342 6.99598C25.3273 6.58256 24.8396 6.32842 24.0987 6.32842C23.3577 6.32842 22.7635 6.69979 22.3716 7.3244V6.45549H21.4078ZM32.3868 9.34766C32.4083 9.20985 32.4289 8.97719 32.4289 8.79643C32.4289 7.37719 31.4123 6.32842 30.0136 6.32842C28.5416 6.32842 27.3872 7.52573 27.3872 9.10426C27.3872 10.6828 28.3295 11.8792 30.0136 11.8792C31.0839 11.8792 31.8042 11.4873 32.334 10.6398L31.6351 10.1951C31.3165 10.7991 30.7555 11.0533 30.0566 11.0533C29.0391 11.0533 28.4145 10.2586 28.351 9.34766H32.3868ZM30.0244 7.15527C30.819 7.15527 31.3908 7.82193 31.4338 8.57451H28.4253C28.6159 7.77987 29.1662 7.15527 30.0244 7.15527ZM36.9165 6.91097C36.4924 6.52977 35.8884 6.32842 35.2852 6.32842C34.4056 6.32842 33.5796 6.8367 33.5796 7.90694C33.5796 8.85996 34.3949 9.1678 35.0946 9.44341C35.6235 9.6546 36.1112 9.8452 36.1112 10.2586C36.1112 10.8099 35.6772 11.0747 35.1582 11.0747C34.734 11.0747 34.3528 10.8841 34.0029 10.5128L33.3255 11.0533C33.738 11.5937 34.4271 11.8792 35.1474 11.8792C36.1425 11.8792 37.0642 11.4031 37.0642 10.2166C37.0642 9.29486 36.206 8.90292 35.5179 8.63804C35.0096 8.4367 34.5013 8.23536 34.5013 7.83267C34.5013 7.42999 34.8083 7.13379 35.2951 7.13379C35.6557 7.13379 36.1004 7.31366 36.3438 7.52574L36.9165 6.91097ZM41.696 6.91097C41.2718 6.52977 40.6678 6.32842 40.0646 6.32842C39.185 6.32842 38.3591 6.8367 38.3591 7.90694C38.3591 8.85996 39.1743 9.1678 39.8731 9.44341C40.4029 9.6546 40.8906 9.8452 40.8906 10.2586C40.8906 10.8099 40.4566 11.0747 39.9367 11.0747C39.5134 11.0747 39.1322 10.8841 38.7823 10.5128L38.1049 11.0533C38.5174 11.5937 39.2065 11.8792 39.9268 11.8792C40.9219 11.8792 41.8436 11.4031 41.8436 10.2166C41.8436 9.29486 40.9854 8.90292 40.2973 8.63804C39.789 8.4367 39.2807 8.23536 39.2807 7.83267C39.2807 7.42999 39.5877 7.13379 40.0745 7.13379C40.4351 7.13379 40.8799 7.31366 41.1233 7.52574L41.696 6.91097Z" fill="white" class="svg-dark" />
</g>
<defs>
<clipPath id="clip0_1510_60202">
<rect width="49" height="14" fill="white"/>
</clipPath>
</defs>
</svg>

</a>          <span class="is-and">and</span>
          <a class="is-education svg-education" href="/education">
            <svg width="56" height="14" viewBox="0 0 56 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_1510_60201)">
<path d="M55.0783 0.186157H53.1929V13.9195H55.0783V0.186157Z" fill="#3DE3A5"/>
<path d="M5.96236 9.34766C5.98384 9.20985 6.00442 8.97719 6.00442 8.79643C6.00442 7.37719 4.98786 6.32842 3.58921 6.32842C2.11628 6.32842 0.961914 7.52574 0.961914 9.10337C0.961914 10.681 1.90509 11.8792 3.58921 11.8792C4.65945 11.8792 5.37981 11.4873 5.90867 10.6398L5.20979 10.1951C4.89211 10.7991 4.33014 11.0533 3.63126 11.0533C2.61471 11.0533 1.98921 10.2586 1.92567 9.34766H5.96147H5.96236ZM3.59994 7.15527C4.39457 7.15527 4.96639 7.82283 5.00844 8.57451H1.99994C2.19055 7.77988 2.74178 7.15527 3.59994 7.15527ZM9.5382 11.8801C10.1735 11.8801 10.8411 11.6045 11.2223 11.0434V11.753H12.187V3.80762H11.2223V7.03894C10.7991 6.60493 10.1735 6.32932 9.55878 6.32932C7.9382 6.32932 6.88943 7.69576 6.88943 9.10426C6.88943 10.6506 8.01247 11.8801 9.5382 11.8801ZM9.66527 10.9906C8.5637 10.9906 7.87467 10.1011 7.87467 9.12663C7.87467 8.20493 8.45721 7.21969 9.68585 7.21969C10.2263 7.21969 10.851 7.50605 11.2214 8.02506V9.99553C10.9458 10.6416 10.2362 10.9915 9.66437 10.9915L9.66527 10.9906ZM17.642 11.753H18.6058V6.45639H17.642V9.97316C17.2608 10.5665 16.6782 10.9897 16.0635 10.9897C15.5973 10.9897 15.3118 10.8206 15.1418 10.5656C14.8876 10.1843 14.8662 9.62238 14.8662 9.10337V6.4546H13.9024V9.20896C13.9024 10.0143 14.0187 10.7239 14.3794 11.2107C14.6863 11.6242 15.174 11.8783 15.9149 11.8783C16.6559 11.8783 17.2501 11.5078 17.642 10.8823V11.7512V11.753ZM23.8013 10.6192C23.5158 10.8313 23.0281 10.9897 22.6782 10.9897C21.7565 10.9897 20.9306 10.2479 20.9306 9.10426C20.9306 8.05549 21.7145 7.2188 22.6675 7.2188C23.0496 7.2188 23.4514 7.35661 23.7485 7.57853L24.204 6.7839C23.7798 6.49755 23.2715 6.32842 22.7105 6.32842C21.1632 6.32842 19.9454 7.55706 19.9454 9.10337C19.9454 10.7767 21.1427 11.8792 22.6577 11.8792C23.293 11.8792 23.8863 11.6779 24.2782 11.3602L23.8013 10.6184V10.6192ZM29.4854 11.753V8.53245C29.4854 7.16601 28.9243 6.32932 27.3888 6.32932C26.6577 6.32932 25.8523 6.56198 25.3011 6.82686L25.5874 7.63223C26.0116 7.39956 26.6577 7.16601 27.2715 7.16601C28.1404 7.16601 28.5216 7.63223 28.5216 8.4367V8.6273C28.0662 8.53156 27.727 8.51097 27.4621 8.51097C26.297 8.51097 25.1006 8.92439 25.1006 10.2694C25.1006 11.4031 26.0008 11.8792 26.9753 11.8792C27.6536 11.8792 28.1297 11.6779 28.5646 11.1911V11.7521H29.4854V11.753ZM28.5216 10.4394C28.0984 10.7991 27.6322 11.0747 27.0917 11.0747C26.5512 11.0747 26.0429 10.8412 26.0429 10.1951C26.0429 9.40045 26.9118 9.24207 27.5686 9.24207C27.8335 9.24207 28.1297 9.26355 28.5216 9.34766V10.4385V10.4394ZM33.7011 7.30381V6.45639H32.2174V5.18569H31.2536V6.45639H30.544V7.30381H31.2536V9.93111C31.2536 10.3445 31.2966 10.7365 31.4237 11.0327C31.6456 11.5302 32.1011 11.8586 32.8429 11.8586C33.1928 11.8586 33.5633 11.7629 33.8281 11.626L33.5632 10.8528C33.3932 10.9378 33.182 11.0014 32.97 11.0014C32.4402 11.0014 32.2603 10.6729 32.2281 10.1119C32.2174 9.95258 32.2174 9.83625 32.2174 9.69844V7.30471H33.7011V7.30381ZM35.8272 11.753V6.45639H34.8626V11.753H35.8272ZM35.8272 5.41836V4.33737H34.8626V5.41836H35.8272ZM39.8603 6.32932C38.314 6.32932 37.1597 7.55795 37.1597 9.10426C37.1597 10.6506 38.314 11.8801 39.8603 11.8801C41.4066 11.8801 42.5619 10.6515 42.5619 9.10426C42.5619 7.55705 41.4075 6.32932 39.8603 6.32932ZM41.5767 9.10426C41.5767 10.1316 40.8563 10.9897 39.8603 10.9897C38.8644 10.9897 38.1449 10.1316 38.1449 9.10426C38.1449 8.07697 38.8653 7.2188 39.8603 7.2188C40.8554 7.2188 41.5767 8.07697 41.5767 9.10426ZM43.8944 6.45549V11.7521H44.8581V8.23536C45.2393 7.64207 45.8219 7.2188 46.4366 7.2188C46.9028 7.2188 47.1883 7.38793 47.3583 7.64296C47.6125 8.02417 47.6339 8.58614 47.6339 9.10515V11.7539H48.5977V8.99956C48.5977 8.19419 48.4814 7.48457 48.1207 6.99777C47.8138 6.58435 47.3261 6.33021 46.5852 6.33021C45.8442 6.33021 45.25 6.70068 44.8581 7.32618V6.45728H43.8944V6.45549Z" fill="white" class="svg-dark" />
</g>
<defs>
<clipPath id="clip0_1510_60201">
<rect width="56" height="14" fill="white"/>
</clipPath>
</defs>
</svg>

</a>        </div>

      <ul class="fm-navbar-links">
        <li>
          <a href="/blog">
            <span>Blog</span>
</a>        </li>

          <li>
            <a href="/props">
              <span>Press &amp; Props</span>
</a>          </li>
      </ul>


        <div class="fm-navbar-dropdown">
          <div class="fm-navbar-dropdown-main is-duo">
            <!-- Mobile version -->
            <a class="is-hidden-navbar-desktop fm-btn is-outlined is-tight" href="/sessions/new">
              <span>Sign In</span>
</a>
            <a class="is-hidden-navbar-desktop fm-btn is-bold is-tight is-primary" data-action="tealium-events#trackTealiumEvent:capture" data-tealium-events-event-name-param="sign_up_clicked" href="/users/new">
              <span>Sign Up</span>
</a>
            <!-- Desktop version -->
            <a class="is-hidden-navbar-mobile fm-btn is-outlined is-tight is-invert" href="/sessions/new">
              <span>Sign In</span>
</a>
            <a class="is-hidden-navbar-mobile fm-btn is-bold is-tight " data-action="tealium-events#trackTealiumEvent:capture" data-tealium-events-event-name-param="sign_up_clicked" href="/users/new">
              <span>Sign Up</span>
</a>          </div>

            <div class="fm-navbar-dropdown-body is-hidden-navbar-desktop">
                <a class="fm-navbar-dropdown-item has-label svg-business" href="/business">
                  <span class="fm-navbar-dropdown-item-label">FutureMe for</span>
                  <svg width="49" height="14" viewBox="0 0 49 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_1510_60202)">
<path d="M48.0783 0.186157H46.1929V13.9195H48.0783V0.186157Z" fill="#FF5D36"/>
<path d="M0.831543 3.80762V11.7521H1.79529V11.1803C2.21856 11.6143 2.83333 11.8792 3.45883 11.8792C5.07942 11.8792 6.12818 10.5128 6.12818 9.115C6.12818 7.55705 5.00514 6.32842 3.47941 6.32842C2.84407 6.32842 2.1765 6.61477 1.79529 7.16511V3.80762H0.831543ZM1.79529 8.22462C2.06017 7.5678 2.78053 7.2188 3.35234 7.2188C4.45391 7.2188 5.14295 8.10828 5.14295 9.09352C5.14295 10.0045 4.5604 10.9897 3.33176 10.9897C2.78053 10.9897 2.15592 10.7034 1.79619 10.1843V8.22462H1.79529ZM11.1385 11.7521H12.1022V6.45549H11.1385V9.97227C10.7573 10.5656 10.1747 10.9897 9.55995 10.9897C9.09373 10.9897 8.80827 10.8197 8.63825 10.5656C8.38411 10.1843 8.36263 9.62327 8.36263 9.10426V6.45549H7.39888V9.20985C7.39888 10.0152 7.51521 10.7248 7.87583 11.2116C8.18277 11.6251 8.67047 11.8792 9.41141 11.8792C10.1523 11.8792 10.7465 11.5087 11.1385 10.8841V11.7521ZM17.0436 6.91097C16.6195 6.52977 16.0163 6.32842 15.4123 6.32842C14.5327 6.32842 13.7067 6.8367 13.7067 7.90694C13.7067 8.85996 14.5219 9.1678 15.2217 9.44341C15.7514 9.6546 16.2382 9.8452 16.2382 10.2586C16.2382 10.8099 15.8042 11.0747 15.2852 11.0747C14.8611 11.0747 14.4799 10.8841 14.13 10.5128L13.4526 11.0533C13.866 11.5937 14.5541 11.8792 15.2745 11.8792C16.2705 11.8792 17.1922 11.4031 17.1922 10.2166C17.1922 9.29486 16.334 8.90292 15.645 8.63804C15.1367 8.4367 14.6284 8.23536 14.6284 7.83267C14.6284 7.42999 14.9353 7.13379 15.423 7.13379C15.7828 7.13379 16.2275 7.31366 16.4718 7.52574L17.0436 6.91097ZM19.6297 11.7521V6.45549H18.666V11.7521H19.6297ZM19.6297 5.41746V4.33737H18.666V5.41746H19.6297ZM21.4078 6.45549V11.7521H22.3716V8.23536C22.7528 7.64207 23.3353 7.2188 23.9501 7.2188C24.4163 7.2188 24.7018 7.38793 24.8718 7.64207C25.1259 8.02328 25.1465 8.58524 25.1465 9.10426V11.7521H26.1112V8.99777C26.1112 8.1933 25.9948 7.48368 25.6342 6.99598C25.3273 6.58256 24.8396 6.32842 24.0987 6.32842C23.3577 6.32842 22.7635 6.69979 22.3716 7.3244V6.45549H21.4078ZM32.3868 9.34766C32.4083 9.20985 32.4289 8.97719 32.4289 8.79643C32.4289 7.37719 31.4123 6.32842 30.0136 6.32842C28.5416 6.32842 27.3872 7.52573 27.3872 9.10426C27.3872 10.6828 28.3295 11.8792 30.0136 11.8792C31.0839 11.8792 31.8042 11.4873 32.334 10.6398L31.6351 10.1951C31.3165 10.7991 30.7555 11.0533 30.0566 11.0533C29.0391 11.0533 28.4145 10.2586 28.351 9.34766H32.3868ZM30.0244 7.15527C30.819 7.15527 31.3908 7.82193 31.4338 8.57451H28.4253C28.6159 7.77987 29.1662 7.15527 30.0244 7.15527ZM36.9165 6.91097C36.4924 6.52977 35.8884 6.32842 35.2852 6.32842C34.4056 6.32842 33.5796 6.8367 33.5796 7.90694C33.5796 8.85996 34.3949 9.1678 35.0946 9.44341C35.6235 9.6546 36.1112 9.8452 36.1112 10.2586C36.1112 10.8099 35.6772 11.0747 35.1582 11.0747C34.734 11.0747 34.3528 10.8841 34.0029 10.5128L33.3255 11.0533C33.738 11.5937 34.4271 11.8792 35.1474 11.8792C36.1425 11.8792 37.0642 11.4031 37.0642 10.2166C37.0642 9.29486 36.206 8.90292 35.5179 8.63804C35.0096 8.4367 34.5013 8.23536 34.5013 7.83267C34.5013 7.42999 34.8083 7.13379 35.2951 7.13379C35.6557 7.13379 36.1004 7.31366 36.3438 7.52574L36.9165 6.91097ZM41.696 6.91097C41.2718 6.52977 40.6678 6.32842 40.0646 6.32842C39.185 6.32842 38.3591 6.8367 38.3591 7.90694C38.3591 8.85996 39.1743 9.1678 39.8731 9.44341C40.4029 9.6546 40.8906 9.8452 40.8906 10.2586C40.8906 10.8099 40.4566 11.0747 39.9367 11.0747C39.5134 11.0747 39.1322 10.8841 38.7823 10.5128L38.1049 11.0533C38.5174 11.5937 39.2065 11.8792 39.9268 11.8792C40.9219 11.8792 41.8436 11.4031 41.8436 10.2166C41.8436 9.29486 40.9854 8.90292 40.2973 8.63804C39.789 8.4367 39.2807 8.23536 39.2807 7.83267C39.2807 7.42999 39.5877 7.13379 40.0745 7.13379C40.4351 7.13379 40.8799 7.31366 41.1233 7.52574L41.696 6.91097Z" fill="white" class="svg-dark" />
</g>
<defs>
<clipPath id="clip0_1510_60202">
<rect width="49" height="14" fill="white"/>
</clipPath>
</defs>
</svg>

</a>
                <a class="fm-navbar-dropdown-item has-label svg-education" href="/education">
                  <span class="fm-navbar-dropdown-item-label">FutureMe for</span>
                  <svg width="56" height="14" viewBox="0 0 56 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_1510_60201)">
<path d="M55.0783 0.186157H53.1929V13.9195H55.0783V0.186157Z" fill="#3DE3A5"/>
<path d="M5.96236 9.34766C5.98384 9.20985 6.00442 8.97719 6.00442 8.79643C6.00442 7.37719 4.98786 6.32842 3.58921 6.32842C2.11628 6.32842 0.961914 7.52574 0.961914 9.10337C0.961914 10.681 1.90509 11.8792 3.58921 11.8792C4.65945 11.8792 5.37981 11.4873 5.90867 10.6398L5.20979 10.1951C4.89211 10.7991 4.33014 11.0533 3.63126 11.0533C2.61471 11.0533 1.98921 10.2586 1.92567 9.34766H5.96147H5.96236ZM3.59994 7.15527C4.39457 7.15527 4.96639 7.82283 5.00844 8.57451H1.99994C2.19055 7.77988 2.74178 7.15527 3.59994 7.15527ZM9.5382 11.8801C10.1735 11.8801 10.8411 11.6045 11.2223 11.0434V11.753H12.187V3.80762H11.2223V7.03894C10.7991 6.60493 10.1735 6.32932 9.55878 6.32932C7.9382 6.32932 6.88943 7.69576 6.88943 9.10426C6.88943 10.6506 8.01247 11.8801 9.5382 11.8801ZM9.66527 10.9906C8.5637 10.9906 7.87467 10.1011 7.87467 9.12663C7.87467 8.20493 8.45721 7.21969 9.68585 7.21969C10.2263 7.21969 10.851 7.50605 11.2214 8.02506V9.99553C10.9458 10.6416 10.2362 10.9915 9.66437 10.9915L9.66527 10.9906ZM17.642 11.753H18.6058V6.45639H17.642V9.97316C17.2608 10.5665 16.6782 10.9897 16.0635 10.9897C15.5973 10.9897 15.3118 10.8206 15.1418 10.5656C14.8876 10.1843 14.8662 9.62238 14.8662 9.10337V6.4546H13.9024V9.20896C13.9024 10.0143 14.0187 10.7239 14.3794 11.2107C14.6863 11.6242 15.174 11.8783 15.9149 11.8783C16.6559 11.8783 17.2501 11.5078 17.642 10.8823V11.7512V11.753ZM23.8013 10.6192C23.5158 10.8313 23.0281 10.9897 22.6782 10.9897C21.7565 10.9897 20.9306 10.2479 20.9306 9.10426C20.9306 8.05549 21.7145 7.2188 22.6675 7.2188C23.0496 7.2188 23.4514 7.35661 23.7485 7.57853L24.204 6.7839C23.7798 6.49755 23.2715 6.32842 22.7105 6.32842C21.1632 6.32842 19.9454 7.55706 19.9454 9.10337C19.9454 10.7767 21.1427 11.8792 22.6577 11.8792C23.293 11.8792 23.8863 11.6779 24.2782 11.3602L23.8013 10.6184V10.6192ZM29.4854 11.753V8.53245C29.4854 7.16601 28.9243 6.32932 27.3888 6.32932C26.6577 6.32932 25.8523 6.56198 25.3011 6.82686L25.5874 7.63223C26.0116 7.39956 26.6577 7.16601 27.2715 7.16601C28.1404 7.16601 28.5216 7.63223 28.5216 8.4367V8.6273C28.0662 8.53156 27.727 8.51097 27.4621 8.51097C26.297 8.51097 25.1006 8.92439 25.1006 10.2694C25.1006 11.4031 26.0008 11.8792 26.9753 11.8792C27.6536 11.8792 28.1297 11.6779 28.5646 11.1911V11.7521H29.4854V11.753ZM28.5216 10.4394C28.0984 10.7991 27.6322 11.0747 27.0917 11.0747C26.5512 11.0747 26.0429 10.8412 26.0429 10.1951C26.0429 9.40045 26.9118 9.24207 27.5686 9.24207C27.8335 9.24207 28.1297 9.26355 28.5216 9.34766V10.4385V10.4394ZM33.7011 7.30381V6.45639H32.2174V5.18569H31.2536V6.45639H30.544V7.30381H31.2536V9.93111C31.2536 10.3445 31.2966 10.7365 31.4237 11.0327C31.6456 11.5302 32.1011 11.8586 32.8429 11.8586C33.1928 11.8586 33.5633 11.7629 33.8281 11.626L33.5632 10.8528C33.3932 10.9378 33.182 11.0014 32.97 11.0014C32.4402 11.0014 32.2603 10.6729 32.2281 10.1119C32.2174 9.95258 32.2174 9.83625 32.2174 9.69844V7.30471H33.7011V7.30381ZM35.8272 11.753V6.45639H34.8626V11.753H35.8272ZM35.8272 5.41836V4.33737H34.8626V5.41836H35.8272ZM39.8603 6.32932C38.314 6.32932 37.1597 7.55795 37.1597 9.10426C37.1597 10.6506 38.314 11.8801 39.8603 11.8801C41.4066 11.8801 42.5619 10.6515 42.5619 9.10426C42.5619 7.55705 41.4075 6.32932 39.8603 6.32932ZM41.5767 9.10426C41.5767 10.1316 40.8563 10.9897 39.8603 10.9897C38.8644 10.9897 38.1449 10.1316 38.1449 9.10426C38.1449 8.07697 38.8653 7.2188 39.8603 7.2188C40.8554 7.2188 41.5767 8.07697 41.5767 9.10426ZM43.8944 6.45549V11.7521H44.8581V8.23536C45.2393 7.64207 45.8219 7.2188 46.4366 7.2188C46.9028 7.2188 47.1883 7.38793 47.3583 7.64296C47.6125 8.02417 47.6339 8.58614 47.6339 9.10515V11.7539H48.5977V8.99956C48.5977 8.19419 48.4814 7.48457 48.1207 6.99777C47.8138 6.58435 47.3261 6.33021 46.5852 6.33021C45.8442 6.33021 45.25 6.70068 44.8581 7.32618V6.45728H43.8944V6.45549Z" fill="white" class="svg-dark" />
</g>
<defs>
<clipPath id="clip0_1510_60201">
<rect width="56" height="14" fill="white"/>
</clipPath>
</defs>
</svg>

</a>
              <a class="fm-navbar-dropdown-item is-hidden-navbar-start-desktop" href="/letters/new">
                <span class="fm-icon">
                  <i class="fa-solid fa-pencil fa-sm"></i>
                </span>
                <span>Write a Letter to the Future</span>
</a>
              <a class="fm-navbar-dropdown-item is-hidden-navbar-start-desktop" rel="ugc" href="/letters/public">
                <span class="fm-icon">
                  <i class="fa-solid fa-book-open-reader fa-sm"></i>
                </span>
                <span>Read Public Letters</span>
</a>
              <a class="fm-navbar-dropdown-item" href="/blog">
                <span class="fm-icon">
                  <i class="fa-solid fa-rss fa-sm"></i>
                </span>
                <span>Blog</span>
</a>
              <a class="fm-navbar-dropdown-item" href="/props">
                <span class="fm-icon">
                  <i class="fa-solid fa-newspaper fa-sm"></i>
                </span>
                <span>Press &amp; Props</span>
</a>            </div>
        </div>
    </div>
  </div>
</nav>


<div class="fm-home-editor">
  <header class="fm-home-header">
    <h1 class="fm-title fm-home-intro-title is-ter color-primary-invert">Write a letter to your future self</h1>
    <p class="fm-home-tagline">
      <strong>Write</strong>. Pick a receiving date. <strong>Send</strong>. Verify. That’s it 😊
      <br>
      Your letter is <strong>safe</strong> with us - we’ve sent over <strong>20 million letters</strong> in 20 years!
    </p>
  </header>

  <div class="fm-editor is-home"
  data-draft-letter-user-id=""
  data-draft-letter-content-min-length="500"
  data-draft-letter-cloud-draft-loaded="false"
  data-controller="letter-editor draft-letter"
>
  

<form class="fm-editor-form" id="new_letter" data-parsley-validate="true" data-action="tealium-events#trackTealiumEvent:capture" data-tealium-events-event-name-param="letter_written" data-tealium-events-payload-param="" accept-charset="UTF-8" method="post" asp-controller="Home" asp-action="Index"><input type="hidden" name="authenticity_token" value="-2y2xALyg3dhGuuKdLck0vvrxrbOQuzV04RmNWWyO24HoxHReQ9cYWI3h6y4mZS69WlqaMaFW9zC4W1NFV6DyQ" autocomplete="off" />
<input autocomplete="off" type="hidden" name="letter[sent_from_draft_reminder]" id="letter_sent_from_draft_reminder" />

  <input type="text" value="FutureMe" type="hidden" asp-for="Subject">
  
<div class="fm-editor-title">
      <input class="fm-editor-title-field" tabindex="1" placeholder="A letter from Jul 15th, 2024" type="text" value="A letter from Jul 15, 2024" name="letter[subject]" id="letter_subject" />

         </div>

    <div class="fm-editor-body">
      <div class="fm-input fm-editor-text" data-controller="word-counter" data-letter-editor-target="editorText">
        <div class="fm-editor-prompt display-none" data-letter-editor-target="inspirationSection">
          <p class="fm-editor-prompt-body" data-letter-editor-target="inspirationText"></p>
          <span class="fm-icon fm-editor-prompt-close is-2" data-action="click->letter-editor#closeInspiration:capture">
            <i class="fa-solid fa-times-circle"></i>
          </span>
        </div>

        <div class="fm-editor-text-body">
          <textarea class="fm-editor-textarea"
 tabindex="2" placeholder="" id="letter_body" 
data-word-counter-target="input"
 data-action="focus-&gt;letter-editor#bodyFocused blur-&gt;letter-editor#bodyBlurred word-counter#count tealium-events#trackTealiumEvent:capture:once letter-editor#hideInspiration"
 data-tealium-events-event-name-param="letter_writing_started"
 data-tealium-events-payload-param="" 
data-letter-editor-inspiration-display-threshold-param="250"
 asp-for="Content">
Dear FutureMe,
  </textarea>

          <div class="fm-editor-inspiration " 
            data-letter-editor-target="inspirationAnchor">
            <span class="fm-btn is-inspiration is-tight"
              data-action="click->letter-editor#inspire:capture"
              data-letter-editor-inspiration-url-param=https://www.futureme.org/letters/inspiration>
              <span>
                <span class="fm-icon">
                  <i class="fa-regular fa-lightbulb" data-letter-editor-target="inspirationIcon"></i>
                </span>
                <span data-letter-editor-target="inspireMeText">
                  Inspire me!
                </span>
                <span class="display-none" data-letter-editor-target="newInspirationText">
                  New inspiration...
                </span>
              </span>
            </span>
          </div>
        </div>

        <footer class="fm-editor-text-footer">
          <div class="fm-editor-text-attachments">
          </div>

          <div class="fm-editor-text-meta">
            <div class="fm-editor-text-count">
              <span data-word-counter-target="count"></span> word(s)
            </div>

            <div class="fm-editor-text-draft" id="js-draft-status">
            </div>
          </div>
        </footer>
      </div>

      <div class="fm-editor-controls">
        <!-- Delivery Type -->
        <div class="fm-editor-control" data-controller="letter-editor-delivery" data-letter-editor-delivery-send-date-type-value="duration" data-letter-editor-delivery-duration-value="{&quot;quantity&quot;:6,&quot;interval&quot;:&quot;month&quot;}">
  <input data-letter-editor-delivery-target="sendDateTypeInput" autocomplete="off" type="hidden" value="duration" name="letter[send_date_type]" id="letter_send_date_type" />

  <div data-letter-editor-delivery-target="delivery duration" class="fm-editor-delivery" style="display: block;">
    <div class="fm-editor-heading">
      <label class="fm-editor-heading-label"><strong>Deliver in</strong></label>
      <span class="fm-editor-heading-side">
        Or choose a <button class="fm-button-link" type="button" data-action="letter-editor-delivery#cycle" data-letter-editor-delivery-type-param="date">date</button>
      </span>
    </div>

    <div class="fm-options are-inline">
      <div class="fm-option">
        <input class="fm-option-input"
               data-action="letter-editor-delivery#durationSelected"
               data-letter-editor-delivery-quantity-param="6"
               data-letter-editor-delivery-interval-param="month"
               type="radio"
               value="6m"
               checked="checked"
               asp-for="SendDate"
               id="letter_pick_date_6m"
               />

  <label class="fm-option-label" for="letter_pick_date_6m">6 months</label>
</div>


      <div class="fm-option">
  <input class="fm-option-input" data-action="letter-editor-delivery#durationSelected" data-letter-editor-delivery-quantity-param="1" data-letter-editor-delivery-interval-param="year" type="radio" value="1y" asp-for="SendDate" id="letter_pick_date_1y" />

  <label class="fm-option-label" for="letter_pick_date_1y">1 year</label>
</div>


      <div class="fm-option">
  <input class="fm-option-input" data-action="letter-editor-delivery#durationSelected" data-letter-editor-delivery-quantity-param="3" data-letter-editor-delivery-interval-param="year" type="radio" value="3y" asp-for="SendDate" id="letter_pick_date_3y" />

  <label class="fm-option-label" for="letter_pick_date_3y">3 years</label>
</div>


      <div class="fm-option">
  <input class="fm-option-input" data-action="letter-editor-delivery#durationSelected" data-letter-editor-delivery-quantity-param="5" data-letter-editor-delivery-interval-param="year" type="radio" value="5y" asp-for="SendDate" id="letter_pick_date_5y" />

  <label class="fm-option-label" for="letter_pick_date_5y">5 years</label>
</div>


      <div class="fm-option">
  <input class="fm-option-input" data-action="letter-editor-delivery#durationSelected" data-letter-editor-delivery-quantity-param="10" data-letter-editor-delivery-interval-param="year" type="radio" value="10y" asp-for="SendDate" id="letter_pick_date_10y" />

  <label class="fm-option-label" for="letter_pick_date_10y">10 years</label>
</div>

    </div>
  </div>

  <div data-letter-editor-delivery-target="delivery date" class="fm-editor-delivery">
    <div class="fm-editor-heading">
      <label class="fm-editor-heading-label"><strong>Deliver on</strong></label>

      <span class="fm-editor-heading-side">
        Or choose a <button class="fm-button-link" type="button" data-action="letter-editor-delivery#cycle" data-letter-editor-delivery-type-param="duration">duration</button>
      </span>
    </div>

    <div class="fm-date-select">
      <select id="letter_send_date_2i" name="letter[send_date(2i)]">
<option value="1" selected="selected">January</option>
<option value="2">February</option>
<option value="3">March</option>
<option value="4">April</option>
<option value="5">May</option>
<option value="6">June</option>
<option value="7">July</option>
<option value="8">August</option>
<option value="9">September</option>
<option value="10">October</option>
<option value="11">November</option>
<option value="12">December</option>
</select>
<select id="letter_send_date_3i" name="letter[send_date(3i)]">
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15" selected="selected">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
<option value="24">24</option>
<option value="25">25</option>
<option value="26">26</option>
<option value="27">27</option>
<option value="28">28</option>
<option value="29">29</option>
<option value="30">30</option>
<option value="31">31</option>
</select>
<select id="letter_send_date_1i" name="letter[send_date(1i)]">
<option value="2024">2024</option>
<option value="2025" selected="selected">2025</option>
<option value="2026">2026</option>
<option value="2027">2027</option>
<option value="2028">2028</option>
<option value="2029">2029</option>
<option value="2030">2030</option>
<option value="2031">2031</option>
<option value="2032">2032</option>
<option value="2033">2033</option>
<option value="2034">2034</option>
<option value="2035">2035</option>
<option value="2036">2036</option>
<option value="2037">2037</option>
<option value="2038">2038</option>
<option value="2039">2039</option>
<option value="2040">2040</option>
<option value="2041">2041</option>
<option value="2042">2042</option>
<option value="2043">2043</option>
<option value="2044">2044</option>
<option value="2045">2045</option>
<option value="2046">2046</option>
<option value="2047">2047</option>
<option value="2048">2048</option>
<option value="2049">2049</option>
<option value="2050">2050</option>
<option value="2051">2051</option>
<option value="2052">2052</option>
<option value="2053">2053</option>
<option value="2054">2054</option>
<option value="2055">2055</option>
<option value="2056">2056</option>
<option value="2057">2057</option>
<option value="2058">2058</option>
<option value="2059">2059</option>
<option value="2060">2060</option>
<option value="2061">2061</option>
<option value="2062">2062</option>
<option value="2063">2063</option>
<option value="2064">2064</option>
<option value="2065">2065</option>
<option value="2066">2066</option>
<option value="2067">2067</option>
<option value="2068">2068</option>
<option value="2069">2069</option>
<option value="2070">2070</option>
<option value="2071">2071</option>
<option value="2072">2072</option>
<option value="2073">2073</option>
<option value="2074">2074</option>
</select>

    </div>
  </div>

</div>


        <!-- Public or Private -->
        <div class="fm-editor-control">
  <div class="fm-editor-heading">
  <label class="fm-editor-heading-label">
    Select your <strong>audience</strong>
  </label>
</div>


  <div class="fm-options are-inline">
    <div class="fm-option">
  <input class="fm-option-input" type="radio" value="false" checked="checked" name="letter[public]" id="letter_public_false" />

  <label class="fm-option-label" for="letter_public_false">Private</label>
</div>


    <div class="fm-option">
  <input class="fm-option-input" type="radio" value="true" name="letter[public]" id="letter_public_true" />

  <label class="fm-option-label" for="letter_public_true">Public, but anonymous</label>
</div>

  </div>
</div>


        <!-- Other parameters -->
        

        <div class="fm-editor-comments">
  <label for="letter_comments">Comments</label>
  <textarea autocomplete="off" tabindex="-1" rows="4" name="letter[comments]" id="letter_comments">
</textarea>
</div>


        

        <!-- Email and Phone -->
        <div class="fm-editor-control">
          <div class="fm-editor-heading">
  <label class="fm-editor-heading-label">
    Make sure you <strong>get your letter</strong>
  </label>
</div>


          <div data-controller="letter-editor-email" data-letter-editor-email-education-domains-value="k12|student|school|.edu|sd.org">
  <div class="fm-control has-icons-before has-icons-after">
    <input placeholder="Please enter an email" class="fm-input parsley" data-parsley-required="true" data-parsley-required-message="Please enter an email" data-parsley-trigger="change" data-parsley-ui-enabled="true" data-parsley-type="email" data-parsley-type-message="Please enter a valid email" data-parsley-whitespace="trim" data-parsley-emailtypo="true" data-action="letter-editor-email#emailChanged" data-letter-editor-email-target="input" type="email" asp-for="Email" id="letter_email" />

    <span class="fm-icon is-before color-text-70">
      <i class="fa-solid fa-envelope"></i>
    </span>

    <span class="fm-icon is-after display-none valid-icon color-success-50">
      <i class="fa-solid fa-check"></i>
    </span>

    <span class="fm-icon is-after display-none invalid-icon color-danger-60">
      <i class="fa-solid fa-warning"></i>
    </span>
  </div>

    <div class="dn fm-email-hint" id="email-hint-pro" data-letter-editor-email-target="hintPro">
      Are you using a school email? Ask your educator to use <a target="_blank" class="fm-link" href="https://www.futureme.org/education">FutureMe Education</a> to make sure your letters will be delivered!
    </div>
  <div class="dn fm-email-hint" id="email-hint-typo" data-letter-editor-email-target="hintTypo">
    Did you mean <a href="#" data-letter-editor-email-target="suggestion" data-action="letter-editor-email#suggestionAccepted"></a>?
  </div>
</div>


        </div>

        <div class="fm-editor-control" >
  <div class="fm-editor-heading">
  <label class="fm-editor-heading-label">
    Pick your <strong>style</strong>
  </label>
</div>


  <div class="fm-options are-rdios">
    <div class="fm-option is-rdio">
  <input class="fm-option-input fm-rdio-input" type="radio" value="free" name="letter[payment_mode]" id="letter_payment_mode_free" />

  <span class="fm-toggle-shape"></span>

  <label class="fm-option-label" for="letter_payment_mode_free">
    <span>Send just this letter</span>
    <span>Free</span>
</label></div>


    <div class="fm-option is-rdio">
  <input class="fm-option-input fm-rdio-input" data-letter-editor-pricing-target="expressRadio" type="radio" value="express" checked="checked" name="letter[payment_mode]" id="letter_payment_mode_express" />

  <span class="fm-toggle-shape"></span>

  <label class="fm-option-label" for="letter_payment_mode_express">
    <span>Send this letter + Support FutureMe</span>
    <span>39 ₴</span>
</label></div>


  </div>
</div>


        <!-- Disclaimer -->
          <p class="fm-editor-terms even-smaller">
            You will receive a confirmation email - please make sure your email address is correct! By writing a letter and signing up for FutureMe you agree to the <a target="_blank" class="fm-link" href="/pages/tos">Terms of use</a>
          </p>

        <!-- Send your letter -->
        <button id="send_to_the_future" class="fm-editor-submit fm-btn is-fullwidth size-large is-fullspectrum">
          <span class="animate-background fullspectrum-gradient">
            Send to the Future
          </span>
        </button>
      </div>
    </div>
</form></div>

</div>
    <script src="https://prod-assets.futureme.org/assets/application-93026b7d4eb8f4afec6593496e76cb673b88526f3469712577b60e54f892f24d.js"></script>
    <script src="https://prod-assets.futureme.org/assets/stimulus-d951fca197c323e31dfb874c3356976abd25d5c7c8d2f1437abbcf0c96a17c38.js" defer="defer"></script>
    
  </body>
</html>
