@model bool
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-success">You authorized</h1>
    <form asp-action="Index" method="post">
        <input type="hidden" value="true">
        <button type="submit" class="btn btn-warning">Log Out</button>
    </form>
</div>