@model string
 
@{
    ViewData["Title"] = "Сброс пароля";
}
 
<h1 class="bg-info text-white">Сброс пароля</h1>
 
<form asp-action="ForgotPassword" method="post">
    <div class="form-group">
        <label>Email</label>
        <input name="email" class="form-control" />
    </div>
    @Html.AntiForgeryToken()
    <button class="btn btn-primary" type="submit">Подтвердить</button>
</form>