<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Blog</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Blog.styles.css" asp-append-version="true"/>
</head>
<body>
<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="" asp-action="">@User.Identity.Name</a>
    </li>
    <li class="nav-item">
        <form method="post" asp-controller="Account" asp-action="Logout">

            <input class="nav-link text-dark mybtn" type="submit" value="Выход" />
        </form>
    </li>
    }
    else
    {
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Авторизация</a>
    </li>
    }
</ul>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>