<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Добавить продукт</h1>
        <form method="post" action="~/Product/Create">
            <label>Имя:</label><br />
            <input type="text" name="name" /><br />
            <input type="submit" value="Отправить" />
        </form>
    </div>
</body>
</html>